#!/usr/bin/env node
var path = require('path');
var fs = require('fs');

var apiRoot = require(path.resolve('./moka.config.json')).apiRoot || 'moka_api';
var dbPath = path.resolve('.', 'static', apiRoot, 'db.json');

if(fs.existsSync(dbPath)) {
    var db = require(dbPath);
    fs.writeFileSync('./hooks/tmp_pre_generate.json', JSON.stringify(db.index.sorted));
}


process.exit(0);