
body{
    font-family: cursive;
    background-color: #eeeeea;
}
.text-blue{
    color: cornflowerblue;
}
h4{
    text-align: left;
}
div{display: block;}
.container{
    width: 100%;
    margin: 0 auto;
    /*text-align: center;*/
}
.border-shadow{
    box-shadow: 0 0 5px gray;
}

.rect{
    width: 18px; height: 18px;
}
.item{
    margin: 3px; float: left; border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
.item:hover{
    border-color: cadetblue;
}
.active{
    border-color:#FF0088 !important;
}
.text-center{
    text-align: center;
    font-family: Arial, sans-serif;
}
.painter-container{
    width: 60%;
    display: block;box-shadow: 0px 0px 8px 3px #bbb;border: 1px solid #CCCCCC;
    float: left;
}
#canvas{
    touch-action: none;
    cursor: crosshair;
    background-color: white;
}
#tooltip>div{
    margin: 4px; border: 1px solid #bbb; border-radius: 3px;
}
#msg-bar{
    float: left;
    margin-left:2%;
    width: 25%;
    height: 800px;
    background-color: cadetblue;
    opacity: 0.5;
}
#msg-content{
    max-height: 650px;
}
#msg-bar>div{
    height: 50%;
    margin: 3%;
}

#msg-content{
    color: aquamarine;
}
.layer-item{
    cursor: pointer;
    border: 2px solid darkslateblue;
    background-color: seagreen;
    margin: 10px 30px 10px;
    padding: 4px;
}
#layers{
    min-height: 300px;
    overflow-y: scroll;
}

#console{
    overflow: scroll;
    background-color: #eeeeea;
    line-height: 2px;
    max-height: 73%;
}

ul{
    list-style: none;
}